# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# Python / Zip Files
__pycache__/
*.zip
*.pyc

# SSH / Credentials
*.pem
*.key
id_rsa
id_rsa.pub

# VSCode / System
.vscode/
.DS_Store
